<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096667392707-89j2unq6m1bo4ea78c4i4a2eb4aiban1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096667392707-89j2unq6m1bo4ea78c4i4a2eb4aiban1</string>
	<key>API_KEY</key>
	<string>AIzaSyCyiCCfJ0urQH9IfCdVxsgBJuvUMjfin8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1096667392707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatting</string>
	<key>PROJECT_ID</key>
	<string>chatting-a52b4</string>
	<key>STORAGE_BUCKET</key>
	<string>chatting-a52b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096667392707:ios:76619291649e0af70fd076</string>
</dict>
</plist>